.background {
  background: linear-gradient(119deg,#0e4c0c,#470d53,#3b155d);
  background-size: 180% 180%;
  animation: gradient-animation 12s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}