.navbar{
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-bottom: 70px;
    border-radius: 1%;
    height: 100px;
}
.carrito{
        background-color: rgb(255, 255, 255);
}
.btn-carrito{
    background-color: rgb(255, 255, 255);
    border-color: black;
}